- hosts: all
  become: yes
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Start nginx
      systemd:
        name: nginx
        state: started
        enabled: yes

    - name: Create index.html
      copy:
        content: "<h1>Hello from Terraform + Ansible!</h1>"
        dest: /var/www/html/index.html
